<html>
<head>
    <title>My Movie App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="list-movies-title">
    <h1> Flo's Movies </h1>
</div>
<div>
    <ol class="movie-grid">
        
                    <div class="movie-item">
                        <img src="https://m.media-amazon.com/images/M/MV5BMDAyY2FhYjctNDc5OS00MDNlLThiMGUtY2UxYWVkNGY2ZjljXkEyXkFqcGc@._V1_SX300.jpg" alt="The Shawshank Redemption Poster">
                        <h2>The Shawshank Redemption</h2>
                        <p>1994</p>
                        <p>Rating: 9.3</p>
                    </div>
                    
                    <div class="movie-item">
                        <img src="https://m.media-amazon.com/images/M/MV5BMzQxNzQzOTQwM15BMl5BanBnXkFtZTgwMDQ2NTcwODM@._V1_SX300.jpg" alt="Midsommar Poster">
                        <h2>Midsommar</h2>
                        <p>2019</p>
                        <p>Rating: 7.1</p>
                    </div>
                    
                    <div class="movie-item">
                        <img src="https://m.media-amazon.com/images/M/MV5BMTUxNzc0OTIxMV5BMl5BanBnXkFtZTgwNDI3NzU2NDE@._V1_SX300.jpg" alt="Ex Machina Poster">
                        <h2>Ex Machina</h2>
                        <p>2014</p>
                        <p>Rating: 7.7</p>
                    </div>
                    
                    <div class="movie-item">
                        <img src="https://m.media-amazon.com/images/M/MV5BNTEyZGQwODctYWJjZi00NjFmLTg3YmEtMzlhNjljOGZhMWMyXkEyXkFqcGc@._V1_SX300.jpg" alt="Hereditary Poster">
                        <h2>Hereditary</h2>
                        <p>2018</p>
                        <p>Rating: 7.3</p>
                    </div>
                    
                    <div class="movie-item">
                        <img src="https://m.media-amazon.com/images/M/MV5BNzQxNTIyODAxMV5BMl5BanBnXkFtZTgwNzQyMDA3OTE@._V1_SX300.jpg" alt="Moonlight Poster">
                        <h2>Moonlight</h2>
                        <p>2016</p>
                        <p>Rating: 7.4</p>
                    </div>
                    
                    <div class="movie-item">
                        <img src="https://m.media-amazon.com/images/M/MV5BNDQ1NDE5NzQ1NF5BMl5BanBnXkFtZTgwNzA5OTM2NTE@._V1_SX300.jpg" alt="The Lobster Poster">
                        <h2>The Lobster</h2>
                        <p>2015</p>
                        <p>Rating: 7.1</p>
                    </div>
                    
                    <div class="movie-item">
                        <img src="https://m.media-amazon.com/images/M/MV5BNmM5ZThhY2ItOGRjOS00NzZiLWEwYTItNDgyMjFkOTgxMmRiXkEyXkFqcGc@._V1_SX300.jpg" alt="The Shining Poster">
                        <h2>The Shining</h2>
                        <p>1980</p>
                        <p>Rating: 8.4</p>
                    </div>
                    
    </ol>
</div>
</body>
</html>